// simple nav setup for four seperate sections
nav {
  min-height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

// makes the nav compress and work for mobile
@media (max-width: 1000px) {
  nav {
    height: 100vh;
    flex-direction: column;
  }
}
