* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 14px;
}

// to make section the size of viewport
section {
  min-height: calc(100vh - 50px);
  background-color: white;
  padding: 30px;
}

// to make the odd number of sections to turn light grey
section:nth-child(odd) {
  background-color: lightgrey;
}
